.contenedor_master{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.contenedor_detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    
}
.item{
    list-style-type: none;
    
}

.butt_master .butt{
    display: inline-block;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color .15s;
    margin-bottom: .5rem;
}