.arreglo_mio{
    margin: 2rem;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around ;
}

.arreglo_description{
    margin: 0;
}
.arreglo_description h2{
    font-size: 4rem;
}
.arreglo_description a{
    font-size: 1.5rem;
}
#img_arreglo{
    width: 25rem;
    height: 24rem;
    margin: 1rem;
};