.btns{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: .5rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s
    
}
.btns1{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    margin-right: .5rem;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color .15s
    
}
.btns2{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: .5rem;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color .15s
}
.contador{
    padding-top: 2rem;
    margin-bottom: 0;
    font-size: 1.3rem
}
